body {
    padding-bottom: 70px;
}

.btn-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.btn-float:hover {
    background-color: #0056b3;
}

.card {
    height: 100%;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

/* Estilos para el botón de desloguearse */
.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
}
.btn-danger:hover {
    background-color: #c82333;
    color: #ffffff;
}

/* Estilos para ajustar el botón en la esquina derecha */
.btn-sm.ml-auto {
    margin-left: auto;
}