body {
    background-color: #f8f9fa;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    width: 100%;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}
