/* styles.css */

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Estilo para la página del carrito de compras */
#carrito {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}
