<!DOCTYPE html>
<html>
<head>
    <title>Admin - Tienda de Electrónicos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='js/confirmarSalida.js') }}"></script>
    <script src="{{ url_for('static', filename='js/eliminarProducto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modificarProducto.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="container">
    <h1 class="mt-4">Tienda Electronica</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin') }}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('agregar_producto') }}">Agregar Producto</a>
            </li>
        </ul>
    </nav>
    <h2 class="mt-4">Lista de Productos</h2>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto[0] }}</td>
                <td>{{ producto[1] }}</td>
                <td>{{ producto[2] }}</td>
                <td>{{ producto[3] }}</td>
                <td>{{ producto[4] }}</td>
                <td><img src="{{ producto[5] }}" alt="{{ producto[1] }}" width="100"></td>
                <td>
                    <a href="{{ url_for('modificar_producto', id=producto[0]) }}" class="btn btn-primary">Modificar</a>
                    <button onclick="eliminarProducto({{ producto[0] }})" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="#" class="btn btn-danger" onclick="confirmarSalida()">Salir</a>
</div>
</body>
</html>
