<!DOCTYPE html>
<html>
<head>
    <title>Carrito de Compras</title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Carrito de Compras</h1>
    <ul class="list-group">
        {% for item in carrito %}
            <li class="list-group-item">
                <img src="{{ url_for('static', filename='imagenes_productos/' + item.categoria) }}"
                     alt="{{ item.nombre }}"
                     width="100" height="100">
                {{ item.nombre }} - Cantidad: {{ item.cantidad }} - Precio: ${{ item.precio * item.cantidad }}
            </li>
        {% endfor %}
    </ul>
    <p>Total: ${{ total_carrito }}</p>

    <!-- Botón de regreso para regresar a la página comprar.html -->
    <a href="{{ url_for('comprar') }}" class="btn btn-primary">Regresar</a>
    <!-- Botón de comprar que lleva al usuario a confirmar la compra -->
    <a href="{{ url_for('realizar_compra') }}" class="btn btn-primary">Comprar</a>

</div>

{% if factura_path %}
    <!-- Script para SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
    <script>
        Swal.fire({
            icon: 'success',
            title: '¡Compra realizada!',
            text: 'Gracias por tu compra. Recibirás los productos en breve.',
            timer: 3000,
            showConfirmButton: false
        }).then(function() {
            window.location.href = "{{ url_for('comprar') }}";
        });
    </script>
{% endif %}

<!-- Incluir Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
