<!DOCTYPE html>
<html>
<head>
    <title>Comprar - Tienda de Electrónicos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comprar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<!-- Cabecera de la tienda -->
<header class="bg-dark text-white text-center py-4">
    <h1>Tienda de Electrónicos</h1>
</header>

<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('celulares') }}">Celulares</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('computadoras') }}">Computadoras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('consolas') }}">Consolas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('accesorios') }}">Accesorios</a>
            </li>
        </ul>
        <a href="{{ url_for('logout') }}" class="btn btn-danger btn-sm ml-auto">SALIR</a>
    </div>
</nav>

<!-- Cuadrícula de productos -->
<div class="container mt-4">
    <div class="row">
        <!-- Aquí se generarán los productos dinámicamente -->
        {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ url_for('static', filename='imagenes_productos/' + producto[4]) }}"
                         class="card-img-top" alt="{{ producto[1] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto[1] }}</h5>
                        <p class="card-text">{{ producto[2] }}</p>
                        <p class="card-text">Precio: ${{ producto[3] }}</p>
                        <div class="form-group">
                            <label for="cantidad-{{ producto[0] }}">Cantidad:</label>
                            <input type="number" class="form-control" id="cantidad-{{ producto[0] }}" value="1" min="1">
                        </div>
                        <button class="btn btn-primary btn-add-cart" data-product-id="{{ producto[0] }}">Añadir al carrito</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Botón flotante del carrito de compras -->
<a href="{{ url_for('carrito') }}" class="btn-float">
    <i class="fas fa-shopping-cart"></i>
</a>

<!-- Script para SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script src="{{ url_for('static', filename='js/comprar.js') }}"></script>
</body>
</html>

