<!DOCTYPE html>
<html>
<head>
    <title>Modificar Producto - Tienda de Electrónicos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Modificar Producto</h1>
        <form id="formularioModificarProducto" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ producto[1] }}" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required>{{ producto[2] }}</textarea>
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" class="form-control" id="precio" name="precio" value="{{ producto[3] }}" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="categoria">Categoría</label>
                <select class="form-control" id="categoria" name="categoria" required>
                    <option value="Celulares" {% if producto[4] == "Celulares" %}selected{% endif %}>Celulares</option>
                    <option value="Computadoras" {% if producto[4] == "Computadoras" %}selected{% endif %}>Computadoras</option>
                    <option value="Consolas" {% if producto[4] == "Consolas" %}selected{% endif %}>Consolas</option>
                    <option value="Accesorios" {% if producto[4] == "Accesorios" %}selected{% endif %}>Accesorios</option>
                </select>
            </div>
            <div class="form-group">
                <label for="imagen">Imagen</label>
                <input type="file" class="form-control-file" id="imagen" name="imagen">
            </div>
            <button type="button" class="btn btn-primary" onclick="modificarProducto({{ producto[0] }})">Modificar Producto</button>
            <a href="{{ url_for('admin') }}" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/modificarProducto.js') }}"></script>
</body>
</html>
