<!-- agregar_productos.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Agregar Producto - Tienda de Electrónicos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.3/dist/sweetalert2.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Agregar Producto</h1>
    <!-- Formulario para agregar productos -->
    <form id="formulario-agregar-producto">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" id="precio" name="precio" required>
        </div>
        <div class="form-group">
            <label for="categoria">Categoría:</label>
            <select class="form-control" id="categoria" name="categoria" required>
                <option value="Celulares">Celulares</option>
                <option value="Computadoras">Computadoras</option>
                <option value="Consolas">Consolas</option>
                <option value="Accesorios">Accesorios</option>
            </select>
        </div>
        <div class="form-group">
            <label for="imagen">Imagen:</label>
            <input type="file" class="form-control-file" id="imagen" name="imagen" accept="image/*" required>
        </div>
        <button type="button" class="btn btn-primary" onclick="agregarProducto()">Agregar Producto</button>

    </form>
    <!-- Botón para regresar a la página admin.html -->
    <a href="{{ url_for('admin') }}" class="btn btn-secondary mt-3">Regresar</a>
</div>

<!-- Agrega SweetAlert2 y script.js -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/agregarProducto.js') }}"></script>
</body>
</html>
