<!DOCTYPE html>
<html>
<head>
    <title>Inicio - Tu tienda de electrónicos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Bienvenido a nuestra tienda de electrónicos</h1>
    <ul>
        <li><a href="/categoria/celulares">Celulares</a></li>
        <li><a href="/categoria/computadoras">Computadoras</a></li>
        <li><a href="/categoria/consolas">Consolas</a></li>
        <li><a href="/categoria/accesorios">Accesorios</a></li>
    </ul>
</body>
</html>
