<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Iniciar Sesión</h1>
                {% if error %}
                    <p class="text-center text-danger">{{ error }}</p>
                {% endif %}
                <form method="post" action="{{ url_for('login') }}" class="mt-4">
                    <div class="form-group">
                        <label for="email">Correo Electrónico:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Iniciar Sesión" class="btn btn-primary">
                        <a href="{{ url_for('registro') }}" class="btn btn-secondary">Registrarse</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

