<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Registro</h1>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        {% if mensaje_exito %}
            <p style="color: green;">{{ mensaje_exito }}</p>
        {% endif %}
        <form method="post" action="{{ url_for('registro') }}">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
        <a href="{{ url_for('login') }}" class="back-link">Regresar a Iniciar Sesión</a>
    </div>
</body>
</html>
